* { box-sizing: border-box; }
body { background: #f9f9f9; font-family: 'Ubuntu', sans-serif; }
h1 {
  text-align: center;
  font-size: 18px;
}
#logo-wrap {
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 60px;
  will-change: transform, color;
  position: relative;
  z-index: 2;
}
#logo {
  display: block;
  fill: black;
}
#site-header {
  width: 100%;
  height: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
}

#main {
  max-width: 1100px;
  margin: 300px auto 20px;
}

#getUserForm {
  display: block;
  margin: 0 auto 20px;
  width: 220px;
}

#github-users,
#github-user {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#github-user {
  margin-bottom: 20px;
  z-index: 1;
}

.github-user {
  margin: 5px;
  position: relative;
}

.github-user-login {
  transition: .2s all ease-in-out;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  background: rgba(255,255,255,.8);
  padding: 5px;
  transform: translate(-10px, 0);
  opacity: 0;
}

.github-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

#github-user .github-user-avatar {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  border: 5px solid white;
}

.github-user:hover .github-user-login {
  transform: translate(0, 0);
  opacity: 1;
}