* { box-sizing: border-box; }
body { background: #f9f9f9; font-family: 'Ubuntu', sans-serif; }
h1 {
  text-align: center;
}
#logo-wrap {
  width: 91px;
  height: 91px;
  transform-origin: 50% 60%;
  will-change: transform, color;
  position: relative;
  z-index: 2;
  transform: scale(.75);
  left: 20px;
  top: 20px;
}
#logo {
  fill: white;
}
#site-header {
  width: 100%;
  position: fixed;
  height: 0px;
}
#site-header:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 1500px;
  height: 1500px;
  background-color: rgba(223, 78, 113, 1);
  display: block;
  top: -400px;
  left: -1550px;
  transform: rotate(25deg);
}

#site-header:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 1500px;
  height: 1500px;
  background-color: rgba(223, 78, 113, .8);
  display: block;
  top: -400px;
  left: -1500px;
  transform: rotate(25deg);
}

#main {
  max-width: 900px;
  margin: 50px auto 20px;
}

#getUserForm {
  display: block;
  margin: 0 auto 20px;
  width: 220px;
}

#github-users,
#github-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#github-user {
  margin-bottom: 20px;
}

.github-user {
  margin: 5px;
  position: relative;
}

.github-user-login {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,.3);
  padding: 5px;
}

.github-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}