* { box-sizing: border-box; }
body { background: #f9f9f9; font-family: 'Ubuntu', sans-serif; }
h1 {
  text-align: center;
  font-size: 18px;
}
#logo-wrap {
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 60px;
  will-change: transform, color;
  position: relative;
  z-index: 2;
}
#logo {
  display: block;
  fill: black;
}
#site-header {
  width: 100%;
  height: 210px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
}
#site-header:before,
#site-header:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: rgba(223, 78, 113, 1);
  display: block;
  top: 0;
  left: 0;
  transform: translateY(50px);
}

#site-header:after {
  background-color: rgba(223, 78, 113, .8);
  transform: translateY(0px);
}

#main {
  max-width: 1100px;
  margin: 300px auto 20px;
}

#getUserForm {
  display: block;
  margin: 0 auto 20px;
  width: 220px;
}

#github-users,
#github-user {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#github-user {
  margin-bottom: 20px;
  z-index: 1;
}

.github-user {
  margin: 5px;
  position: relative;
}

.github-user-login {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,.3);
  padding: 5px;
}

.github-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}