* { box-sizing: border-box; }
body { background: #f9f9f9; font-family: 'Ubuntu', sans-serif; }

#logo-wrap {
  width: 91px;
  height: 91px;
  transform-origin: 50% 60%;
  will-change: transform, color;
  position: relative;
  z-index: 2;
  transform: scale(.75);
  left: 20px;
  top: 20px;
}
#logo {
  will-change: transform, color;
  fill: white;
}
#site-header {
  width: 100%;
  position: fixed;
}
#site-header:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 1500px;
  height: 1500px;
  background-color: rgba(223, 78, 113, 1);
  display: block;
  top: -400px;
  left: -1550px;
  transform: rotate(25deg);
}

#site-header:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 1500px;
  height: 1500px;
  background-color: rgba(223, 78, 113, .8);
  display: block;
  top: -400px;
  left: -1500px;
  transform: rotate(25deg);
}