* { box-sizing: border-box; }
body { background: #f9f9f9; font-family: 'Ubuntu', sans-serif; }

#logo-wrap {
  width: 91px;
  height: 91px;
  transform-origin: 50% 60%;
  will-change: transform, color;
}
#logo {
  will-change: transform, color;
}